@import url(//fonts.googleapis.com/earlyaccess/souliyo.css);

@font-face {
    font-family: 'Souliyo', sans-serif;
    src: url(../webfonts/Souliyo-Regular.ttf);
}

*, body {
    font-family: 'Souliyo', sans-serif;
}

nav{
    background-color: rgb(0, 0, 0, 0.8 );
}

.dropdown:hover>.dropdown-menu{
    display: block;
}

.nav-link:hover{
    border-radius: 6px;
    background-color: rgb(0, 0, 0, 0.8);
}

.dropdown-menu-end{
    right: 0;
    left: auto;
}